.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  text-align: center;
  height: fit-content;
}

.card img {
  max-width: 100%;
  max-height: 200px;
  display: block;
}
.card-box {
  display: none;
}
.search-container {
  height: 2rem;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .card-box {
    display: block;
  }

  .mainbody-container {
    display: flex;
  }
  .search-container {
    height: 2.5rem;
    display: flex;
    justify-content: flex-start;
  }
  .deck-section {
    margin: 0.5rem;
    padding: 0.5rem;
    background: var(--glass-bg-color);
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: var(--glass-box-border);
    display: flex;
    flex-direction: column;
  }
}

.searchbar {
  margin: 0.5rem;
  background: var(--glass-bg-color);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: var(--glass-box-border);
}

.search-input {
    background: none;
    border: none;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.search-input[type=text] {
  padding: 1rem;
}

ul {
  list-style: none;
}