/* *** ************************************************************************************* *** */
/* *** * Medium devices (landscape tablets, 768px and up) ********************************** *** */
/* *** ************************************************************************************* *** */
@media only screen and (min-width: 768px) {

    /* *** ************************************************************************************* *** */
    /* *** * footer **************************************************************************** *** */
    /* *** ************************************************************************************* *** */
    
    .FooterContentContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;

        h3 {
            color: black;
            margin: 10px;
        }
    }
  }