.search-and-deck-tabs {
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .content-search {
        width: 20%;
    }
    
    .content-deck {
        width: 20%;
    }
}