.header {
  display: flex;
  margin: 15px 10px;
}

.logo-container {
  flex: 1;
}

.logo-image {
  width: 70px;
  &:hover {
    cursor: pointer;
  }
}

.menu-icon {
  align-self: center;

  &:hover {
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid var(--dropdown-outline);
}

.dropdown {
  position: relative;
  align-self: center;
}

.dropdown-list {
  list-style-type: none;
  padding: 0.5rem;
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .dropdown {
    display: none;
  }

  .logo-image {
    width: 90px;
  }
}
