.overlay__background {
  display: block;
    background-color: var(--overlay-bg-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
  }

  .overlay__controls button {
  width: 25px;
  height: 25px;
  margin: 20px;
  }

  .overlay-container {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  
  .overlay__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    align-items: center;
    justify-content: center;
  }

  .overlay__close:after {
    display: inline-block;
    content: "\00d7";
  }

  .overlay-content {
    background: var(--glass-bg-color);
    backdrop-filter: blur( 20px );
    border: var(--glass-box-border);
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--glass-box-shadow);
    height: fit-content;
    justify-content: center;
  }

  .overlay-infos p {
    line-height: 1.5rem;

  }

  .overlay-content p {
    margin: 5px 0;
    color:var(--text-color);
    line-height: 1rem;
  }
  
  .overlay-content .attack {
    margin-top: 5px;
    border-top: var(--glass-box-border);
    padding-top: 5px;
    color:var(--text-color);
  }
  
  .overlay-content .attack strong {
    color: var(--text-color);
  }
  
  .overlay-content .attack p {
    margin: 5px 0;
    color:var(--glass-box-border);
  }
  
  .overlay-content .attack p:first-child {
    color: var(--text-color);
  }

  .overlay {
    display: flex;
    flex-direction: row;
    width: fit-content;
  }

  @media only screen and (max-width: 768px) {
    .overlay-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    .overlay-card-img {
      width: 250px;
    }

    .overlay-content {
      display: none;
    }
  }
  
  /* Pokemon Details */

  .overlay-card-img {
    max-width: 300px;
    transition: width ease 0.5;
  }

  .overlay-infos {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background: var(--glass-bg-color);
    backdrop-filter: blur(20px);
    border: var(--glass-box-border);
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--glass-box-shadow);
    justify-content: center;
  }

  .overlay-infos.open {
    max-height: 300px; /* Set to desired height when open */
    padding: 15px; /* Restore padding */
  }
  
  .info-section {
    margin-bottom: 15px;
  }
  
  .info-title {
    font-weight: bold;
  }
  
  .attack {
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 10px;
  }
  
  .attack-name {
    font-weight: bold;
  }
  
  .attack-cost {
    font-style: italic;
  }
  
  .attack-effect {
    margin-top: 5px;
  }
  
  .attack-damage {
    margin-top: 5px;
  }
  
  