/* *** ************************************************************************************* *** */
/* *** * Medium devices (landscape tablets, 768px and up) ********************************** *** */
/* *** ************************************************************************************* *** */
@media only screen and (min-width: 768px) {

    /* *** ************************************************************************************* *** */
    /* *** * footer **************************************************************************** *** */
    /* *** ************************************************************************************* *** */
    footer {
        display: block;
        background-color: var(--footer-background-color);
        position: absolute;
        bottom: 0;
        width: 100%;
        border: 3px solid #8AC007;
    }
    
  }
  
/* *** ************************************************************************************* *** */
/* *** * Large devices (laptops/desktops, 992px and up) ************************************ *** */
/* *** ************************************************************************************* *** */
  @media only screen and (min-width: 992px) {
  
  }
  
/* *** ************************************************************************************* *** */
/* *** * Extra large devices (large laptops and desktops, 1200px and up) ******************* *** */
/* *** ************************************************************************************* *** */
  @media only screen and (min-width: 1200px) {
    
  }
  
/* *** ************************************************************************************* *** */
/* *** * Extra large devices (large laptops and desktops, 1200px and up) ******************* *** */
/* *** ************************************************************************************* *** */
  @media only screen and (min-width: 1200px) {
    
  }